doctype html
html
    head
        title CipherConnect
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='https://pine-lucky-bison.glitch.me/chat2.ico')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet' href='/css/fontello.css')
    body
        .form-container
            h2.pulsate.neonText CipherConnect
            form#auth-form
                #info
                    | Enter username and password to log in or sign up
                .input(style='margin-bottom: 0;')
                    input#username(type='text' name='username' autocomplete='new-password' required spellcheck='false')
                    label USERNAME
                    .icons
                        i.icon-cancel-circled2#iconLoginRejected
                        i.icon-ok-circled2#iconLoginAccepted 
                .input(style='margin-bottom: 0;')
                    input#password(type='password' name='password' autocomplete='off' required spellcheck='false')
                    label PASSWORD
                    .icons
                        i.icon-cancel-circled2#iconPasswordRejected
                        i.icon-ok-circled2#iconPasswordAccepted
                #passwordInfo
                    #passwordInfoText.characters
                #buttons
                    button.buttons(type='button' id='login-button' style='margin-right: 5px;' disabled) Log In
                    button.buttons(type='button' id='sign-up-button' disabled) Sign Up
        script(src='/index.js' type='text/javascript')
